<style>
      .white {
      color: white;
      }
      a {
        color: white;
        font-family:Times New Roman;
        font-size: 20px;
        text-decoration:none;
      }
      li {color:white;
      }
      h1 {
        color: white;
        font-family:Helvetica;
        font-size: 40px; 
      }
      h2 {
        color: white;
        font-family:Helvetica;
      }
      h3 {
        color:white;
        font-family:Helvetica;
      }
      h5 {
        color: white;
        font-family:Helvetica;
        }
      body {
        background-image: url('https://media.gettyimages.com/videos/abstract-circuit-board-background-video-id668544908?s=640x640');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        }
      tr{
        color: white;
      }
      
    </style>