<style>
      a {
        color: white;
        font-family:Times New Roman;
        font-size: 20px;
        text-decoration:none;
      }
      h1 {
        color: white;
        font-family:Helvetica;
        font-size: 40px; 
      }
      h2 {
        color: white;
        font-family:Helvetica;
      }
      h5 {
        color: white;
        font-family:Helvetica;
        font-size: 17px;
        }
      body {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTS0r4cyW4JD6zu8EoC0xdn1-pbVhpJkt0_IcKpvcPDaa9St7gd&usqp=CAU');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        }
    </style>